<script type="text/javascript" src="__ADMIN_PATH__js/jquery.min.js"></script>
<!--<script type="text/javascript" src="__ADMIN_PATH__js/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/iframe.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<link href="__ADMIN_PATH__js/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.min.css" rel="stylesheet">
<script type="text/javascript" src="__ADMIN_PATH__js/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="__ADMIN_PATH__js/jconfirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/main.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap-datetimepicker/moment.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__js/lightyear.js"></script>
<!--<script type="text/javascript" src="http://libs.itshubao.com/layer/layer.min.js"></script>-->
<script type="text/javascript">
    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };

    /**
     * @param fields
     * @returns {{}}
     */
    function toArrayList(fields) {
        var f = {};//声明一个对象
        $.each(fields,function(index,field){
            f[field.name] = field.value;
        });
        return f;
    }

    /**
     * @param status
     * @param msg
     */
    function message(status,msg) {
        if (status === 200) {lightyear.notify(msg, 'success', 3000, 'mdi mdi-emoticon-happy', 'top', 'center');setTimeout(function () {parent.location.reload()},3000)}
        else lightyear.notify(msg, 'danger', 3000, 'mdi mdi-emoticon-happy', 'top', 'center');
    }
</script>